body{
    font-family: "Poppins", "Helvetica Neue" !important;
}

nav{
    height: 70px;
}

.bold{
    font-weight: 600;
}

.jumbotron{
    height: 400px;
    overflow: hidden;
}

.name{
    margin-top: 100px;
    margin-bottom: 100px;
}

.social-icons i {
    font-size: 1.5rem;
    margin: 0 10px;
}

.typing-container {
    font-size: 2.5em; /* Ukuran font yang setara dengan h1 */
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
}

.card img {
    max-width: 100%; /* Ensure images don't exceed card width */
    height: auto; /* Maintain aspect ratio */
}

/* Ensure row uses flexbox */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Adjust column width to be smaller */
.col-2 {
    flex: 0 0 15%; /* Adjust based on desired size */
    max-width: 15%; /* Ensure columns don't exceed this width */
    padding: 10px; /* Add padding for spacing */
    box-sizing: border-box;
}

/* Adjust card size and center content */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Ensure the card takes full height of the parent */
    padding: 10px; /* Reduce padding */
    box-sizing: border-box;
}

.card h3, .card p {
    text-align: center;
    margin: 5px 0; /* Reduce margins */
}
